*{
	margin:0;
	padding:0;
}
body{
	background: url('../images/bphc.jpeg');
}
#form{
	margin:2.5%;
	width:95vw;
	padding:1.5%;
	background-color:black;
	color:white;
	opacity:0.9;
}

.button{
	padding:10px;
	color:black;
	border-radius:5px;
	background-color:white;
}
.upload{
	margin:1%;
}