*{
	margin:0;
	padding:0;
}
#form{
	border:1px solid black;
	margin:2.5%;
	width:95vw;
	padding:1.5%;
	background-color:white;
}

.button{
	padding:10px;
	border:1px solid black;
	border-radius:5px;
	background-color:white;
}